local_data/*
.Rproj.user
data/phenodata.txt
phenodata.txt
data/*
chris_scanning*
chris_somalogic*
metabolomics_p180*
*.RData
*.png
*.html
*.pdf
images/*
.Rhistory
*.txt
*.docx
mummichog/*
normalisation/*
paper/*
pathways/*
